{% extends 'base.html.twig' %}

{% block title %}Accueil - Gestion Crèche{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Bienvenue sur l'application de gestion de crèche</h1>
    
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-child"></i> Enfants
                    </h5>
                    <p class="card-text">Gérez les informations des enfants</p>
                    <a href="{{ path('app_enfant_index') }}" class="btn btn-primary">
                        Voir les enfants
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}